
.col-6 {
    position: relative;
    min-height: 1px;  
    float: left;
    width: 50%;
}

.col-6 img {
    width: 100%;
}


/* header */
.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px black;
    margin: -10px -8px 20px -8px;
}
.navbar{
    width: 33.3%;
}
.logo {
    text-align: center;
}

.logo img{
    width: 33.3%;
}
.search{ 
    width: 33.3%;
    text-align: center;
}

/* section-1 */
.banner img{
    width: 100%;
    max-height: 650px;
}

.register-form div{
    padding-left: 15px;
}

.register-form h1{
    text-align: center;
    color: orange;
}

.register-form label{
    font-size: 22px;
}

.block-form{
    padding-bottom: 20px;
}

.block-form label{
    display: inline-block;
    width: 200px;
    color: rgb(232, 145, 14);
}

.block-form input, select, textarea{
    width: 400px;
    padding-bottom: 10px;
}

.cmt textarea{
    padding-bottom: 200px;
}

.button{
    margin-top: 10px;
    margin-left: 180px;
}

.button input{
    padding: 15px 35px;
    background-color: rgb(238, 133, 5);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 20px;
}

/* section-2 */

.section-2 h1{
    text-align: center;
    color: red;
    padding-top: 15px;
    padding-bottom: 10px;
}

.section-2 img{
    width: calc(100% - 40px);
    padding-left: 20px;
}

.section-2 h2{
    color: rgba(20, 198, 198, 0.929);
}

.section-2 h4{
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: -2px;
}

.section-2 p{
    font-size: 19px;
    line-height: 1.5;
    border: none;
    border-bottom: 2px gainsboro solid;
}

/* section-3 */

.section-3 h1{
    text-align: center;
    color: rgb(182, 9, 9);
}

.section-3 img{
    height: 250px;
    width: 250px;
    float: left;
    padding: 25px;
}

.section-3 p, h3{
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
    margin-right: 30px;
}

.section-3 .col-6 :last-child{
    color: rgb(249, 178, 47);
    font-style: italic;
}

/* Footer */

.footer{
    background-color: #09a8d0;
    padding: 10px;
    margin: -8px;
    margin-top: 25px;
}
.footer p, h5{
    text-align: center;
    color: white;
}
